* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 17px;
    color: #926239;
    background-color: #fff;
}

.header {
    height: 100vh;
    padding: 1px;
    background-image: url('https://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: cover;
    background-position: center;
}